<!-- <html>
    <head>
        <title>Blog Django Girls</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Blog Django Girls</a></h1>
        </div>

        <div>
            <p>publicado: 14.06.2014, 12:14</p>
            <h2><a href="">Meu primeiro post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>

        <div>
            <p>publicado: 14.06.2014, 12:14</p>
            <h2><a href="">Meu segundo post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html> -->

<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<title>Trabalho Final AIC</title>
		<link rel="stylesheet" type="text/css" href="CSS/Estilos.css">
		<meta name="description" content="Trabalho Final AIC">
		<meta name="keywwords" content="FURG, AIC, WEB">
		<meta name="author" content="Crístian Gusberti">
	</head>

	<body>
		<div id="cabecalho">
			<div id="slideShow">
				<div class="frame">
					<div class="slides transicao">
						<img src="images/imagem1.jpg" alt="Rio Grande" class="imagemSlideShow">
					</div>
					<div class="slides transicao">
						<img src="images/imagem2.jpg" alt="Rio Grande" class="imagemSlideShow">
					</div>
					<div class="slides transicao">
						<img src="images/imagem3.jpg" alt="Rio Grande" class="imagemSlideShow">
					</div>
					<a class="prev" onclick="avancaSlide(-1)">&#10094;</a>
					<a class="next" onclick="avancaSlide(1)">&#10095;</a>
					<br>
				</div>
				
				<div style="text-align:center">
				  <span class="dot" onclick="slideAtual(1)"></span> 
				  <span class="dot" onclick="slideAtual(2)"></span> 
				  <span class="dot" onclick="slideAtual(3)"></span> 
				</div>

				<br>
				<script src="js/slideShow.js"></script>
			</div>

			<img class="imagem" src="images/Logo.PNG" height="150" width="200" alt="Logotipo FURG">
			<h1 >Universidade Federal do Rio Grande - FURG</h1>
			<h2>A universidade dos ecossistemas costeiros e oceânicos</h2>
			<h3>Governo Federal</h3>
		</div><hr>

		<div id="direitaMenu">
			<p>MENU</p>
			<ul>
				<li>
					<hr><a href="Aluno.html" title="Clique aqui área do aluno">Aluno</a>
				</li>
				<li>
					<hr><a href="Professor.html" title="Clique aqui área do professor">Professor</a>
				</li>
				<li>
					<hr><a href="Cursos.html" title="Clique aqui para ver cursos">Cursos</a>
				</li>
				<li>
					<hr><a href="FaleConosco.html" title="Clique aqui para falar conosco">Fale Conosco</a>
				</li>
				<li>
					<hr><a href="IdentidadeVisual3D.html" title="Clique aqui para ver o logo em 3D">Id. Visual 3D</a><hr>
				</li>
			</ul>
			<br><br><br>
			<hr><p class="zerado">Assista nosso video institucional:</p><br>
			<video width="200" controls>
				<source src="video/videoplayback.mp4" type="video/mp4">
			</video>
		</div>

		<div id="esquerdaPropaganda">
			<p>NOTÍCIAS!</p>
			<img src="images/vencedores.jpg" alt="ética pública" height="70" width="100" class="imagemCenter">
			<a class="zerado" href="https://eticapublica.furg.br/" title="Etica pública">Furg é destaque em ética pública. Prêmio foi entregue ao reitor no ultimo dia 10. Confira!</a>
			<img src="images/vitoriaPalmar.jpg" alt="ética pública" height="70" width="100" class="imagemCenter">
			<a class="zerado" href="https://campussvp.furg.br/" title="Campus Vitória do Palmar"> Campus Vitória do Palmar inaugura nova sede.</a>
			<img src="images/ps2019.JPG" alt="Processo Seletivo 2019" height="70" width="100" class="imagemCenter">
			<a class="zerado" href="https://coperse.furg.br/" title="Processo Seletivo 2019"> Processo Seletivo 2019 abre inscrições.</a>
		</div>

		<div id="meio">
			<p><b>Nossa História</b></p>
			<b>O sonho dos pioneiros e a criação da Universidade</b><br>
			<br>
			A realidade do município do Rio Grande, na segunda metade do século 20, revelava a carência total de escolas de nível superior. Isso propiciava a evasão de significativo número de estudantes, os quais se dirigiam a outros centros em busca de continuidade para seus estudos. Essa força jovem, concluídos os cursos, raramente retornava à sua cidade de origem a fim de participar do seu processo histórico, cultural e socioeconômico.<br>
			<br>
			A consciência dessa realidade, aliada ao propósito de modificá-la, resultou em um movimento cultural, cuja finalidade precípua foi a criação de uma Escola de Engenharia em Rio Grande, justificada pelo elevado número de profissionais na área e pelo parque industrial que aqui já existia.<br>
			<br>
			Como a referida escola deveria ter uma entidade mantenedora, nos moldes exigidos pelo Ministério da Educação e Cultura, ou seja, por meio de uma Fundação de Ensino Superior, foi instituída, no dia 8 de julho de 1953, a Fundação Cidade do Rio Grande.<br>
			<br>
			<b>Uma escola sem espaço físico</b><br>
			<br>
			A falta de espaço físico adequado levou a Escola de Engenharia a funcionar, inicialmente, na Bibliotheca Rio-Grandense, com aulas práticas ministradas diretamente nas indústrias, servindo como laboratórios experimentais. Devido ao fato de os professores do curso estarem envolvidos em atividades profissionais nas indústrias e entidades públicas da cidade, tornou-se possível fazer funcionar uma escola sem espaço físico e com corpo docente que trabalhava gratuitamente.<br>
			<br>
			<b>Datas que fizeram sua história</b><br>
			<br>
			1969 - É aprovado a 21 de outubro, através do Decreto n.o 65.462, o Estatuto da Fundação Universidade do Rio Grande, como entidade mantenedora da FURG, sendo nomeado para Reitor o Prof. Adolpho Gundlach Pradel.<br>
			<br>
			1979 - É implementado o curso de Engenharia de Alimentos, cuja criação foi aprovada pelo Conselho de Ensino, Pesquisa e Extensão em 1978. É implementado o Curso de Mestrado em Oceanografia Biológica, primeiro curso de pós-graduação stricto sensu da FURG.<br>
			<br>
			1981 - Começa a funcionar, no Campus Carreiros, o curso de Oceanologia, dando início ao processo de transferência dos cursos, que ora ainda se desenvolve.<br>
			<br>
			1993 - Assume a Reitoria o Prof. Carlos Rodolfo Brandão Hartmann. É aprovada no Conselho de Ensino, Pesquisa e Extensão a criação dos cursos de Engenharia de Computação e de Letras - Português-Espanhol diurno e noturno para implantação em 1994. É concluído o CEFAM (Centro de Educação e Formação Ambiental Marinha) junto ao prédio do Museu Oceanográfico. No mesmo ano são ampliadas as instalações do Biotério e Canil do Campus Carreiros e reiniciadas as obras no HU, dando início à construção da área acadêmica.<br>
			<br>
			1999 - São inaugurados junto ao Hospital Universitário: a Ala Azul, que reúne o Centro Regional de Estudos, Prevenção e Recuperação de Dependentes Químicos (CENPRE), o Centro Integrado de Diabete (CID), Hospital-Dia para pacientes crônicos, a UTI Neonatal e UTI Intermediária. É igualmente inaugurado o Ecomuseu da Ilha da Pólvora. Começam a ser oferecidos cursos seqüenciais. São criados dois novos cursos de graduação: Engenharia Civil Empresarial e Engenharia Mecânica Empresarial. O curso de Ciências Contábeis passa a ser oferecido também no turno da manhã. O número de vagas para o Vestibular 2000 é ampliado significativamente. É aprovado em reunião do Conselho Universitário o Plano Institucional 2000/2002. Conforme Portaria nº 783/99 - MEC, é aprovado o novo Estatuto da FURG, que passa a denominar-se Fundação Universidade Federal do Rio Grande.<br>
			<br>
			2003 - O Conselho Universitário aprova em 10 de janeiro de 2003 a Resolução nº 002/2003, que dispõe sobre o Plano Institucional 2003/2006. É inaugurado junto ao Campus Carreiros o prédio que passa a abrigar as instalações do Departamento de Ciências Fisiológicas.<br>
			<br>
			2004 - São aprovados pelo Conselho de Ensino, Pesquisa e Extensão e começam a funcionar os Programas de Doutorado em Engenharia e Ciência de Alimentos e Oceanografia Física, Química e Geológica.<br>
			<br>
			2005 - Assume a Reitoria o Prof. Dr. João Carlos Brahm Cousin. É concluído o novo prédio da área de Química e Alimentos no Campus Carreiros. São transferidos os cursos de graduação em Química - Licenciatura e os dois primeiros anos dos cursos de Engenharia Química e Engenharia de Alimentos. São aprovados e começam a funcionar os Programas de Mestrado em Ciências da Saúde e em Biologia de Ambientes Aquáticos e Continentais. São aprovados os Programas de Doutorado em Educação Ambiental e em Ciências Fisiológicas - Fisiologia Animal Comparada. É criado um novo curso de graduação: Licenciatura em Educação Física. É criado o Pólo Sul da Amazônia Azul e são lançadas as Bases do Oceanário Brasil. É criada a Secretaria Executiva de Discussão e Revisão do Estatuto da FURG.<br>
			<br>
			2007 - Começam a ser oferecidos os cursos de Mestrado em Geografia e Mestrado em Química Tecnológica e Ambiental. Começa a ser oferecido o curso de graduação em Psicologia. A universidade realiza no mês de junho o primeiro processo de seleção na modalidade de "ensino a distância". São concluídas as obras de construção dos novos ambulatórios no HU. Começam a ser construídos no Campus Carreiros os prédios do CENTECO, do CIDEC-SUL  e a ampliação do Pavilhão 4.
		</div>

		<div id="rodape"><hr>
			<b>Universidade Federal do Rio Grande - FURG</b><br>
			<address>Brasil, Rio Grande do Sul, Rio Grande - Fone (53)3233.6500</address>
			<a href="https://www.furg.br" target="_blank">www.furg.br</a>
		</div>
	</body>
</html>